body {
  background-color: grey;
}

.france {
  padding: 33.33%;
  background-color: white;
  position: relative;
}

.france:before {
  content: "";
  width: 33.33%;
  height: 100%;
  background-color: #0055A4;
  position: absolute;
  top: 0;
  left: 0;

}

.france:after{
  content: "";
  width: 33.33%;
  height: 100%;
  background-color: #EF4135;
  position: absolute;
  top: 0;
  right: 0;

}